{
  #http_port 9901
  #https_port 9991
  #acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

:80 {
	handle_path /* {
		root * /usr/share/caddy/html
		try_files {path} /index.html
		file_server
	}
}

:443 { 
	tls internal {
		on_demand
	}
	reverse_proxy localhost:80
	#reverse_proxy http://example.org
}



